body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:  #1c1c1c;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo img {
    width: 120px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}

.hero {
    background-image: url('https://th.bing.com/th/id/OIP.MEAKEv8EtxOKgr9pizXiaQHaEo?w=288&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #ffd700;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ffcc00;
}

footer {
    margin-bottom: 0%;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.footer-image {
    background-image: url('footerImage3.png');
    background-repeat: repeat-x; /* Repeat horizontally */
    background-size: auto 100%; /* Fit vertically */
    height: 120px; /* Adjust height as needed */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Move it behind other content */
}